<p>Lista de Carritos</p>
<hr>
<div>
    {{#each carts}}
        <p>Descripcion Carrito:{{this.description}}</p>
        <p>N° de Tienda:{{this.store}}</p>
        <p>Fecha de Compra: {{this.purchase_date}}</p>
        <p>Productos: {{this.products}}</p>
    {{/each}}
</div>
